<% include header.ejs %>
<p>Looking for a fight? Go to</p>
<h2 class="orange"><a href="/map"><%= pvpZone.name %></a></h2>
<p>The PvP Zone moves every 24 hours.</p>
<h2>Top Players</h2>
<% include rank-table.ejs %>
<p>1 - 10 of <%= numRankings %>. <a href="/rankings">See all »</a></p>
<p>We rank using ELO score, like chess. It captures actual skill better than
  raw kill-count or fame points. <a href="/about">More info »</a></p>
<% include footer.ejs %>
