<% include header.ejs %>
<p>Join the <a href="https://discord.gg/HcyyEhD">server Discord</a>!</p>
<a href="https://discord.gg/HcyyEhD"><img id="discord" src="/discord.svg"></a>
<p>Search for <span class="orange">ScumZone.com</span> in-game or connect
  directly:</p>
<p class="ip-address">172.107.182.36:28602</p>
<p>Check the <a href="/map">Map</a> to find some PvP action.</p>
<% include footer.ejs %>
