<% include header.ejs %>
<p>Join the <a href="https://discord.gg/HcyyEhD">server Discord</a>!</p>
<a href="https://discord.gg/HcyyEhD"><img id="discord" src="/discord.svg"></a>
<p>Search for <span class="orange">ScumZone.com</span> in-game or connect
  directly:</p>
<p class="ip-address">172.107.182.36:28602</p>
<p>Check the <a href="/map">Map</a> to find some PvP action.</p>
<script type="application/javascript">window.addEventListener('message',function(e){if(e.data.uid&&e.data.type==='sizeUpdate'){var i = document.querySelector('iframe[name="'+e.data.uid+'"]');i.style.width = e.data.payload.width;i.style.height = e.data.payload.height;}});</script>
<iframe src="https://cdn.battlemetrics.com/b/standardVertical/2989824.html?foreground=%23EEEEEE&linkColor=%231185ec&lines=%23333333&background=%23222222&chart=players%3A24H&chartColor=%23FF0700&showPlayers=&maxPlayersHeight=300" frameborder=0 style="border:0" name="fpdex"></iframe>
<% include footer.ejs %>
