<% include header.ejs %>
<p>Looking for a fight? Go to</p>
<h2 class="orange"><%= pvpZone.name %></h2>
<p>Map coming soon. Use
  <a href="https://maps.devzupa.be/en/scum/86/scumisland/#3/">this map</a>
  for now.</p>
<p>The PvP Zone moves every 24 hours, for variety. You can still PvP
  anywhere, but kills inside the zone count in the
  <a href="/rankings">rankings</a>. This is a normal server otherwise. For
  more info about the PvP Zone and rankings, see the
  <a href="/about">About page</a>.</p>
<% include footer.ejs %>
