<% include header.ejs %>
<p>Looking for a fight? Go to</p>
<h2 class="orange"><%= pvpZone.name %></h2>
<p>Map coming soon. Use
  <a href="https://maps.devzupa.be/en/scum/86/scumisland/#3/">this map</a>
  for now.</p>
<p>The PvP Zone moves every 24 hours.
  <a href="/about">More info about PvP Zone »</a></p>
<% include footer.ejs %>
