<% include header.ejs %>
<p>Looking for a fight? Go to</p>
<h2 class="orange"><%= pvpZone.name %></h2>
<canvas id="bigmap" class="map"></canvas>
<p>The PvP Zone moves every 24 hours.
  <a href="/about">More info about PvP Zone »</a></p>
<canvas id="smallmap" class="map"></canvas>
<% include pvp-zone-data.ejs %>
<script src="map.js"></script>
<% include footer.ejs %>
