<% include header.ejs %>
<% include rank-table.ejs %>
<p>We rank using ELO score, like chess. It captures actual skill better than
  raw kill-count or fame points. <a href="/about">More info »</a></p>
<% include footer.ejs %>
