body {
    background-color: #424254;
    color: #424254;
    font-family: Assistant, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    font-family: Anton, sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
html {
    margin: 0;
    padding: 0;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.center-text {
    text-align: center;
}
#main-content {
    background-color: #D6D6D6;
    max-width: 1440px;
    min-width: 640px;
}
.orange {
    color: #d16014;
}
.whisper {
    font-weight: 200;
    font-size: smaller;
}
